/* CHARTE 

    #c3b68f -> Jaune
    #212d36 -> couleur foncé
    #5d7f7e -> vert 1
    #516775 -> vert 2 (grisatre)
    #7eaca6 -> vert 3 clair
    #3f5b5d -> vert 4 foncé
    #764f45 -> marron 1
    #364657 -> bleu 1
    #7099a5 -> bleu 2 clair
    #4d3d3c -> marron 2
    #d63031 -> rouge

*/

@font-face {
    font-family: 'Pixeled';
    src: url('../font/Pixeled.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes damageEffect {
    0% {
        transform: scale(1) rotate(0deg);
        filter: brightness(100%) contrast(100%);
    }
    25% {
        transform: scale(1.05) rotate(-5deg);
        filter: brightness(110%) contrast(110%);
    }
    50% {
        transform: scale(1) rotate(0deg);
        filter: brightness(100%) contrast(100%);
    }
}

/* Custom scrollbar styles */
.skill-action::-webkit-scrollbar {
    width: 12px;
}

.skill-action::-webkit-scrollbar-track {
    background: #364657;
    border-radius: 8px;
}

.skill-action::-webkit-scrollbar-thumb {
    background: #c3b68f;
    border-radius: 8px;
    border: 3px solid #c3b68f; /* Adds a white border around the scrollbar thumb */
}

.item-button {
    width: 50px; /* Prend la largeur totale de la colonne */
    height: 50px; /* Hauteur du bouton */
    margin-bottom: 10px; /* Espacement entre les boutons */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.item-button:hover {
    background-color: #e9ecef;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #364657, #5a6b7d);
    overflow-x: hidden;
    font-family: 'Pixeled', sans-serif;
    position: relative;
    overflow: hidden;
}

.character_info {
    border: solid #516775 2px;
    border-radius:5px;
    background-color: #212d36;
    min-height:100px;
}

.character_stats {
    border:solid #516775 2px;
    border-radius:5px;
    padding:20px;
}

.character_stats p {
    color:#c3b68f;
    font-size:10px;
}

.character_stats .label {
    display: inline-block;
    text-align: left;
}

.character_stats .value {
    display: inline-block;
    width:100%;
    text-align: right;
}

.character-container {
    width: 400px; /* Ajustez la largeur selon vos besoins */
    background-color: #212d36;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #516775;
    box-sizing: border-box;
}

.character-image {
    float: left; /* Positionne l'image à gauche */
    width: 85px; /* Ajustez la largeur selon vos besoins */
    margin-right: 20px;
    margin-top:5px;
}

.character-image-active
{
    text-align:center;
}

.character-image-active img {
    width: 100%;
    border-radius: 5px;
}

.character-image img {
    width: 100%; /* L'image occupe toute la largeur de son conteneur */
    height: 100%;
    border-radius: 5px;
}

.character-details {
    overflow: hidden; /* Permet de contenir les flottants et d'éviter les débordements */
}

.character-name {
    font-size: 20px;
    color: #c3b68f;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    height: 20px;
    background-color: #3f5b5d;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    position: relative;
    border-radius: 5px;
}

.health-fill {
    width: 70%; /* La largeur de la barre de vie, ajustez selon les besoins */
    background-color: #d63031; /* Rouge pour la santé */
}

.energy-fill {
    width: 50%; /* La largeur de la barre d'énergie, ajustez selon les besoins */
    background-color: #7099a5; /* Bleu pour l'énergie */
}

.bar-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size:10px;
    z-index: 1;
}

.section_relics {
    background-color: #212d36;
    min-height: 550px;
    border: solid #516775 2px;
    border-radius:5px;
}
                    
.section_details {
    background-color: #212d36;
    min-height: 550px;
    border: solid #516775 2px;
    border-radius:5px;
    padding:30px;
}

.skill-method {
    border-right:solid #516775 2px;
    min-height:200px;
}

.skill-action {
    overflow-y:auto;
    max-height:200px;
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
}

.method-btn {
    background-color: #212d36;
    margin-top:10px;
    color:#FFF;
    font-size:10px;
    padding:5px;
}

.method-btn:focus, 
.method-btn:active {
    outline: none;
    box-shadow: none;
}

.section_skill {
    margin-top:15px;
    border: solid #516775 2px;
    border-radius:5px;
    max-height:200px;
}
                    
.section_scene {
    background-color: #212d36;
    min-height: 550px;
    background-image: url('../img/bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #516775 2px;
    border-radius:5px;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position:relative;
}

.place_mob_1, .place_mob_2, .place_mob_3 {
    flex: 1;
    background-image: url('../img/mob1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 300px;
    margin: 20px;
    box-sizing: border-box;
    position:relative;
}

.hide {
    display:none;
}

.place_mob_1, .place_mob_3 {
    margin-bottom: 40px;
}

.place_mob_1, .place_mob_2, .place_mob_3 {
    flex: 1;
    background-image: url('../img/mob1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 300px;
    box-sizing: border-box;
    position:relative;
    max-width:169px;
    z-index:99;
    transition: transform 0.3s ease; /* Transition douce pour le zoom */
}

.place_mob_1 img, .place_mob_2 img, .place_mob_3 img {
    width:100%;
    position:absolute;
    bottom:0;
}

.place_mob_1:hover, .place_mob_2:hover, .place_mob_3:hover {
    transform: scale(1.1); /* Zoom de 10% au survol */
}

.place_mob_1.clicked, .place_mob_2.clicked, .place_mob_3.clicked {
    animation: damageEffect 0.6s; /* Applique l'animation au clic */
}

.monster-info {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 10;
}

.monster-name {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.monster-health {
    width: 100%;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    border:solid #c3b68f 1px;
}

.monster-health-bar {
    width: 100%; /* Remplacez cette valeur pour refléter l'état de santé du monstre */
    height: 100%;
    background-color: #d63031; /* Rouge par défaut pour une barre de vie */
    transition: width 0.5s ease; /* Transition pour les changements de vie */
    border-radius: 5px;
}

.place_mob_boss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 400px;
    /*border: 1px solid red;*/
    z-index: 10;
}

.text-container {
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

#rpg-text {
    white-space: pre-wrap; /* Permet aux sauts de ligne de fonctionner */
    color:#c3b68f;
}

.monster-chevron {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF; /* Couleur du chevron */
    margin: -10px auto 0; /* Espace entre le texte et le chevron */
    animation: bounce 1s infinite; /* Animation de rebondissement */
}

.chevron {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c3b68f; /* Couleur du chevron */
    margin: 20px auto 0; /* Espace entre le texte et le chevron */
    animation: bounce 1s infinite; /* Animation de rebondissement */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Position de départ */
    }
    40% {
        transform: translateY(-10px); /* Légère élévation */
    }
    60% {
        transform: translateY(-5px); /* Légère descente */
    }
}