body {
    background-color: #2f3542;
}

.cell {
    background-color:#57606f;
    width: 10%; /* 10 cells per row, each taking up 10% width */
    padding-bottom: 10%; /* Makes the cells square */
    border: 1px solid #747d8c;
    position: relative; /* Nécessaire pour le positionnement de l'overlay */
    overflow: hidden; /* Assure que l'overlay reste dans les limites de la cellule */
    text-align:center;
}

.cell .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-color: #ff4757; /* Couleur rouge avec 50% d'opacité */
    z-index: 1; /* Assure que l'overlay est au-dessus de l'image de fond */
}

.hide {
    display:none;
}

.cell.enemy {
    background-image: url('../img/m1.png'); /* Remplace par le chemin de ton image */
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: bottom; /* Centre l'image */
    z-index: 2;
}

.enemy-moving {
    position: absolute;
    transition: top 0.5s, left 0.5s; /* Smooth movement */
}

.cell.player {
    background-image: url('../img/p1.png'); /* Remplace par le chemin de ton image */
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: bottom; /* Centre l'image */
    z-index: 2;
}

.player_status {
    background-color:#a4b0be;
    height:120px;
    position:relative;
    border-radius:5px;
}

.status-pic {
    height:100px;
    margin-top:10px;
}

.cell.obstacle {
    background-color: #a4b0be;
}

.cell.path {
    background-color: #eccc68; /* Couleur du chemin */
    z-index: 3;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.cell.attack-animation {
    animation: shake 0.5s ease;
}

.cell.spellAreaDamage {
    background-color: #ff7f50 !important; /* Par exemple, un vert translucide */
    z-index: 2;
}

.cell.allowspellcast {
    cursor:pointer;
    background-color: #70a1ff;
    z-index: 1;
}

.player_spellbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.spell-slot {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius:5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #FFF;
}

.spell-slot.selected {
    background-color: #7bed9f;
    cursor: pointer;
}

#spell-description {
    color:#a4b0be;
    min-height:75px;
}

.logbox {
    position:absolute;
    width:100%;
    bottom:0px;
    height:40%;
    border:solid #FFF 1px;
    border-radius:5px;
}

.buttondiv {
    width:100%;
    position:absolute;
    bottom:41%;
}

.endButton {
    width:50%;
    border:solid #FFF 2px;
    border-radius:5px;
    margin-top:50px;
    background-color:#2f3542;
    font-size:30px;
    font-weight:bold;
    color:#FFF;
}

.bonus-div {
    border:solid #FFF 1px;
    height:50px;
    width:50px;
    margin-left:30px;
}

.number {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: red;
    z-index:99
}