body {
    background-image: url('../img/background.png');
    background-size: cover; /* pour couvrir l'ensemble du body */
    background-position: center; /* positionner l'image au centre */
    background-repeat: no-repeat; /* ne pas répéter l'image */
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2c3e50; /* Ajout d'une couleur de fond pour éviter que l'ombre ne s'étende à l'extérieur de la table */
}

th, td {
    color:#ecf0f1;
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}
